body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 80px;
  color: rgb(228, 230, 232);
  background-color: rgba(0, 0, 0, 0.3);
  letter-spacing: 4px;
}

.btn {
  background-color: black;
  padding: 9px 23px;
  color: white;
  border: 4px solid;
  font-size: 25px;
  transition: 1s background-color;
  cursor: pointer;
  border-radius: 2rem;
  white-space: nowrap;
}

.btn:hover {
  background-color: white;
  color: black;
}

.split {
  width: 50%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.split.left {
  position: absolute;
  left: 0;
  background-color: #f45a01;
  background-image: url("iphone-1.png");
  background-size: cover;
}

.split.right {
  position: absolute;
  right: 0;
  background-color: #36445e;
  background-image: url("iphone-2.png");
  background-size: cover;
}

.active-left .left {
  width: 75%;
}

.active-left .right {
  width: 25%;
}

.active-right .left {
  width: 25%;
}

.active-right .right {
  width: 75%;
}

.left,
.right {
  transition: width 2s ease-in-out;
}